body {
    background-color:#e0ffff;
}

form {
    max-width:500px;
    margin:30px auto;
    font-family:Arial;
}

form input {
    width:100%;
    padding:8px;
}

form select, textarea {
    width:100%;
    padding:8px;
}

form button {
    padding:10px 20px;
}

.appointment-success {
    text-align:center;
    color:green;
    padding:20px;
    background-color:yellow;
    font-weight:bold;
    font-size:20px;
}