img {
    border-radius: 10px;
}

.container {
    float: right;
    align-items: center;
    justify-content: center;
    margin-right: 70%;
}

div {
    padding: 0.5rem 1rem;
}

.active-item {
    background-color:yellow;
}
