body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #0078d7;   /* Windows blue */
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
  border: 3px solid #0078d7;
  border-radius: 12px;
}

p {
  text-align: center;
  font-size: 1.1em;
}

.movie-card {
    float:left;
    margin-right: 5rem;
}