<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctor House</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js" defer></script>
</head>
<body>
    <form action="/doctor/edit/%FORM_UUID%" method="POST">
        <h2>%HEADER%</h2>
        <label>
            Name:<br>
            <input type="text" name="name" value="%NAME%" required>
        </label><br><br>
        <label>
            Title:
            <input type="text" name="title" value="%TITLE%" required>
        </label><br><br>
        <button type="submit">
            Create doctor
        </button>
    </form>
</body>
</html>